/* Google Font: Montserrat */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,800&display=swap");

/* Individual Components */
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/dropdown.css");
@import url("components/card.css");

/* Overall Styling */
body {
	font-family: 'Montserrat', sans-serif;
	color: #303030;
	margin-top: 70px;
	margin-bottom: 70px;
}
h1, h2 {
	margin-bottom: 2rem;
	margin-top: 2rem;
}
hr {
	margin-bottom: 2rem;
	margin-top: 2rem;
}
