.btn-dropdown:hover {
	cursor: pointer;
	box-shadow: 0 0 0 3px rgba(142, 120, 201, 0.4);
	box-sizing: content-box;
}
.dropdown-menu {
	margin: 15px 0;
}
.dropdown-menu a {
	color: #999999;
	font-weight: 400;
}
.dropdown-menu a:hover {
	font-weight: 500;
}
